<!DOCTYPE html>
<html>
<head>
    <title> Chat room </title>
</head>
<body>
    <div class="chat_holder">
        <h3><i>No message from other client</i></h3>
    </div>
    <br>
    <form action="" method="post">
        <input class="message" type="text" placeholder="Enter message">
        <br>
        <button type="submit"> Send </button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
        var socket = io.connect("http://127.0.0.1:5000");

        socket.on("connect", function () {
            socket.emit("my event", {data:"User connection"});
            var form = $('form').on("submit", function (e) {
                e.preventDefault();
                let message = $('input.message').val();
                let name = "{{name}}";
                socket.emit("my event", {message:message,name:name});
                $('input.message').val('').focus();
            });
        });

        socket.on("my response", function (msg) {
            if (typeof msg.message != 'undefined') {
                $('h3').remove();
                $('div.chat_holder').append('<p><strong>'+msg.name+'</strong>'+msg.message+'</p>');
            }
        });
    </script>
</body>
</html>